@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:active {
  background-color: #004088;
  transform: scale(0.95);
}

.shortened-link {
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
  word-wrap: break-word;
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Hide the button by default */
}
